## Ignore References folder
PlaylistLoaderPlugin/References/
PlaylistLoaderPlugin/bin/
PlaylistLoaderPlugin/obj/
PlaylistLoaderPlugin/.vs/
PlaylistLoaderPlugin/packages/
PlaylistLoaderPlugin/CreateJunctions.bat
.vs/
